.cart-page-title {
  font-weight: 400;
  font-size: 40px;
  margin-left: 100px;
  font-family: "Source Serif 4";
}

.change-quantity-button {
  border: none;
  height: 30px;
  font-size: 15px;
  width: 34px;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
  color: black !important;
  padding: 0px;
}

.quantity-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 5px;
  width: 40px;
}

.quantity-container {
  width: 100px;
  display: flex;
  justify-content: center;
}
.cart-title {
  width: 100px;
}
.cart-product {
  width: 100px;
}
.cart-page-title-div {
  display: flex;
  justify-content: start;
}

.cart-page-product-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  width: 100px;
  text-align: center;
}

.cart-page-product-title-div,
.cart-product-row-div {
  height: 100px;
  width: 800px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.cart-page-product-title-div {
  padding-bottom: 0px;
}
.cart-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.cart-product-price-container {
  display: flex;
  align-items: center;
}
.cart-product-name,
.cart-product-price,
.cart-product-quantity,
.cart-product-size {
  font-size: 18px;
  text-align: center;
  width: 100px;
}

.cart-product-quantity {
  width: 40px;
  height: 30px;
  margin: 0px;
}

.cart-product-price,
.cart-product-quantity {
  font-weight: 400;
}

.cart-title-empty-div {
  width: 80px;
}

.cart-product-image {
  width: 80px;
  height: 120px;
  border-radius: 10px;
}
.cart-product-name-quantity-size-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.remove-from-cart-button {
  background-image: url(../../public/images/trash.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-size: contain;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.empty-cart-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.empty-cart-text {
  color: rgb(159, 159, 159);
  font-size: 20px;
  font-weight: 400;
}
.total-price-container {
  align-self: flex-end;
}
.total-price {
  font-size: 20px;
  font-weight: 500;
}

.cart-product-row-div {
  border-radius: 30px;
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 4px rgb(207, 207, 207);
  margin-bottom: 10px;
}

@media (min-width: 769px) and (max-width: 1250px) {
  .remove-from-cart-button {
    background-image: url(../../public/images/trash.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-size: contain;
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
  .cart-product-price-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
  }
  .cart-page-title {
    margin-left: 100px;
    font-weight: 400;
    font-size: 25px;
    font-family: "Source Serif 4";
  }
  .cart-page-product-title {
    font-size: 8px;
  }

  .cart-product-row-div {
    align-items: start;
    padding: 20px;
    gap: 10px;
    justify-content: unset;
    border-bottom: none;
    margin-bottom: 10px;
    height: fit-content;
    padding: 20px;
    width: 50vw;
  }

  .cart-product {
    width: 50px;
  }

  .cart-product-image {
    width: 80px;
    height: 120px;
  }
  .cart-product-price,
  .cart-product-quantity,
  .cart-product-size,
  .cart-product-name {
    font-size: 12px;
    width: auto;
  }

  .cart-product-name-quantity-size-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 40%;
  }

  .cart-page-product-title-div {
    display: none;
  }
  .cart-product-name-quantity-size-container {
    gap: 0px;
  }
  .cart-product-size,
  .cart-product-quantity,
  .cart-product-name {
    margin: 0px;
  }

  .quantity-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 5px;
    width: 30px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .quantity-container {
    width: 30px;
    display: flex;
    justify-content: center;
  }
  .total-price {
    font-size: 15px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .remove-from-cart-button {
    background-image: url(../../public/images/trash.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-size: contain;
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
  .cart-product-price-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
  }
  .cart-page-title {
    margin-left: 40px;
    font-weight: 400;
    font-size: 25px;
    font-family: "Source Serif 4";
  }
  .cart-page-product-title {
    font-size: 8px;
  }

  .cart-page-product-title-div,
  .cart-product-row-div {
    height: 50px;
    width: 300px;
    gap: 10px;
    border-bottom: solid 2px rgba(191, 191, 191, 0.75);
  }

  .cart-product-row-div {
    align-items: start;
    justify-content: center;
    border-bottom: none;
    width: 80vw;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
  }

  .cart-product {
    width: 50px;
  }

  .cart-product-image {
    width: 80px;
  }
  .cart-product-price,
  .cart-product-quantity,
  .cart-product-size,
  .cart-product-name {
    font-size: 0.7rem;
    width: auto;
  }
  .cart-product-size {
    width: 30px;
  }

  .cart-product-name {
    white-space: nowrap;
    font-size: 0.6rem;
  }
  .cart-product-row-div {
    height: fit-content;
    padding: 20px;
    justify-content: unset;
  }
  .cart-product-name-quantity-size-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 40%;
  }

  .cart-page-product-title-div {
    display: none;
  }
  .cart-product-name-quantity-size-container {
    gap: 0px;
  }
  .cart-product-size,
  .cart-product-quantity,
  .cart-product-name {
    margin: 0px;
  }
  .quantity-container {
    width: 30px;
    display: flex;
    justify-content: center;
  }
  .total-price {
    font-size: 15px;
    font-weight: 500;
  }
  .quantity-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 5px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
  }
  .cart-page-content {
    width: 80%;
  }
}
