.contact-bar {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.contact-us-page-main-title {
  font-size: 40px;
}
.contact-page-div {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-us-page-title {
  font-size: 24px;
  margin-bottom: 0px;
}

.contact-information {
  height: 40px;
  display: flex;
  align-items: center;
}

.inner-contact-bar {
  font-size: 12px;
  font-weight: 400;
  width: 40vw;
  margin-top: 10px;
  margin-left: 50px;
}

.contact-page-details {
  font-size: 18px;
  font-weight: 400;
  height: 25px;
}

.contact-page-details-title {
  font-size: 18px;
  height: 25px;
}

.contact-page-description {
  font-size: 20px;
  width: 40vw;
  font-weight: 400;
}

@media (min-width: 769px) and (max-width: 1250px) {
  .contact-us-page-title {
    font-size: 30px;
  }

  .inner-contact-bar {
    font-size: 10px;
  }

  .contact-page-details {
    font-size: 14px;
  }

  .contact-page-details-title {
    font-size: 14px;
  }
  .contact-page-description {
    font-size: 15px;
    width: 40vw;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .contact-us-page-main-title {
    font-size: 30px;
  }
  .contact-us-page-title {
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-information {
    font-size: 20px;
    display: flex;
    margin: 0px;
    align-items: center;
  }

  .contact-page-div {
    flex-direction: column;
    align-items: center;
  }

  .contact-page-details-title,
  .contact-page-details {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    height: 30px;
  }

  .contact-page-details-title-detail-container {
    height: 80px;
  }
  .inner-contact-bar {
    width: 100%;
    margin: 0px;
  }
  .contact-bar {
    height: 400px;
  }

  .contact-page-description {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
  }
  .contact-page-left-side,
  .contact-page-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
  }

  .contact-page-left-side {
    order: 2;
  }
  .contact-page-right-side {
    order: 1;
  }
  .contact-page-title {
    font-size: 25px;
    margin-bottom: 5px;
  }
}
