.size-filter-container,
.color-filter-container,
.material-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 2px grey solid;
  padding-right: 20px;
}

.size-filter-button:hover {
  background-color: rgb(30, 29, 29);
  opacity: 0.8;
  border: solid 3px rgb(30, 29, 29);
  color: white;
  border-radius: 40px;
}

.filters-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 80vw;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.filter-title {
  font-size: 12px;
  height: 20px;
}

.price-slider-container {
  display: flex;
  align-items: center;
}

.filter-selected-price {
  font-weight: 400;
  width: 40px;
  font-size: 12px;
  font-family: "Roboto";
}

.filter-button {
  background: rgb(82, 82, 82);
  color: white;
  border: none;
  border-radius: 80px;
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-size: 12px;
  transition: opacity 0.1s ease-in-out;
}

.filter-button:active {
  opacity: 0.5;
}

.reset-filters-button {
  border: none;
  background-color: transparent;
  font-size: 12px;
  cursor: pointer;
  height: 100%;
}

.price-slider {
  appearance: none;
  height: 4px;
  background: black;
  width: 200px;
  opacity: 1;
  cursor: pointer;
  border-radius: 15px;
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.size-button,
.color-filter-button,
.material-filter-button {
  border: none;
  background: none;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: black !important;
}
.material-filter-button {
  width: 70px;
}

.color-filter-button,
.material-filter-button {
  font-size: 12px;
}

.size-button:hover {
  background-color: rgb(30, 29, 29);
  opacity: 0.8;
  border: solid 3px rgb(30, 29, 29);
  color: white;
  border-radius: 40px;
}
.size-button-pressed {
  background-color: rgb(30, 29, 29);
  opacity: 0.8;
  border: solid 3px rgb(30, 29, 29);
  color: white;
  border-radius: 40px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
}

.filter-reset-button {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .filter-button {
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 10px;
  }

  .filters-container {
    width: 80vw;
    margin-bottom: 50px;
    gap: 40px;
  }
  .filter-title {
    font-size: 12px;
    height: 20px;
  }
  .price-slider-container {
    width: 200px;
    margin-right: 0px;
  }

  .mobile-filter-container {
    padding-bottom: 20px;
    display: flex;
    width: 80vw;
    align-items: center;
    height: 100px;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 20px;
  }

  .size-button,
  .color-filter-button {
    font-size: 10px;
    height: 40px;
  }
  .size-filter-container,
  .color-filter-container,
  .material-filter-container {
    padding-right: 5px;
  }
  .size-button {
    font-size: 10px;
    font-weight: 500;
    height: 40px;
    width: 30px;
    cursor: pointer;
  }
  .price-slider {
    height: 3px;
    width: 100px;
  }
  .price-slider::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
  .filter-title {
    margin-right: 10px;
  }
  .filter-reset-button {
    width: 220px;
  }
  .mobile-filter-lower-container {
    display: flex;
    align-items: center;
  }
  .mobile-filter-upper-container {
    display: flex;
    align-items: center;
  }
  .size-filter-container {
    border: none;
    padding-right: 0px;
  }
}
