.jewellery-page-title-container {
  display: flex;
  width: 100%;
  justify-content: start;
  border-bottom: solid 2px rgb(239, 239, 239);
  width: 90vw;
  height: 100px;
  margin-bottom: 50px;
}

.jewellery-page-title {
  font-weight: 400;
  font-family: "Source Serif 4";
  margin-bottom: 100px;
}

.jewellery-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) and (max-width: 1250px) {
  .jewellery-page-title {
    margin-left: 40px;
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .jewellery-page-title {
    margin-left: 20px;
    font-weight: 400;
    font-size: 25px;
    font-family: "Source Serif 4";
  }
}
