.product-tab-container {
  width: 22vw;
  height: 30vw;
  max-width: 22vw;
  border: solid 2px rgba(178, 178, 178, 0.1);
  box-shadow: -1px 0px 6.5px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 10px 0px;
}

.product-tab-image {
  width: 80%;
  height: 22vw;
  max-width: 75%;
  max-height: 325px;
  object-fit: cover;
  transition: transform 1s ease-in-out, scale 1s ease-out,
    border-radius 1s ease-in-out;
}

.product-tab-image:hover {
  transform: translateY(-30px);
  scale: 1.1;
  border-radius: 20px;
}

.product-tab-name,
.product-tab-price,
.product-tab-sizes {
  font-size: 20px;
  margin: 0px;
  font-weight: 400;
  font-family: "Roboto";
}
.product-tab-price,
.product-tab-sizes {
  font-size: 17px;
}

.product-tab-price {
  font-weight: 700;
}
.buy-button {
  width: 168px;
  height: 41px;
  background-color: rgb(66, 66, 66);
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  transition: transform 0.1s;
  margin-bottom: 10px;
}

.buy-button:active {
  transform: translateY(5%);
}

.product-sizes-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (min-width: 769px) and (max-width: 1250px) {
  .product-tab-name,
  .product-tab-price,
  .product-tab-sizes {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .product-tab-name,
  .product-tab-price,
  .product-tab-sizes {
    font-size: 8px;
  }

  .buy-button {
    width: 108px;
    height: 31px;
    font-size: 10px;
    font-weight: 500;
  }
}
