.product-page-div {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.product-details-div {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 40%;
}
.product-image-div {
  width: 40%;
}

.product-name {
  font-size: 40px;
  font-weight: 400;
  margin: 0px;
}

.product-stock {
  font-weight: 700;
  font-size: 25px;
  margin-top: 15px;
}

.product-price {
  font-size: 25px;
  font-weight: 400;
  margin: 0px;
}

.free-shipping-text {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  margin: 0px;
  margin-top: 5px;
}

.product-image {
  width: 68%;
  height: 38vw;
  max-width: 75%;
  min-height: 350px;
  min-width: 250px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.buy-button-div {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-page-product-sizes-div {
  display: flex;
  margin-top: 10px;
  height: 30px;
}

.added-to-cart-text,
.select-size-text {
  color: grey;
  font-size: 18px;
  font-weight: 400;
  animation: fade-out forwards ease-in-out 2s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.product-page-announcement-div {
  height: 50px;
}
.product-description-title {
  font-size: 20px;
  font-family: 400;
  margin: 0px;
  margin-bottom: 15px;
}
.product-description {
  font-size: 12px;
  width: 80%;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(174, 174, 174, 0.4);
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 15px;
}

@media (min-width: 769px) and (max-width: 1250px) {
  .product-name {
    font-size: 30px;
  }
  .product-stock {
    font-size: 18px;
  }
  .product-price {
    font-size: 22px;
  }
  .free-shipping-text {
    font-size: 13px;
  }
}
@media (max-width: 769px) {
  .product-name {
    font-size: 1.3rem;
  }
  .product-stock {
    font-size: 0.9rem;
  }
  .product-price {
    font-size: 1rem;
  }
  .free-shipping-text {
    font-size: 0.5rem;
  }
  .product-image {
    min-height: 225px;
    min-width: 155px;
  }

  .buy-button-div {
    height: 100px;
    width: 100px;
  }

  .product-description-title {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .product-description {
    font-size: 0.6rem;
    width: 90%;
    margin-bottom: 5px;
    padding-bottom: 10px;
    margin-top: 0px;
  }
  .product-page-div {
    margin-top: 100px;
  }
  .product-details-div {
    width: 50%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .added-to-cart-text,
  .select-size-text {
    color: grey;
    font-size: 0.6rem;
    font-weight: 400;
  }
  .product-page-announcement-div {
    height: 25px;
  }
}
