.summer-collection-front-page {
  height: 100vh;
}
.summer-collection-front-page-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../public/images/CollectionPageBgImage.jpeg");
  background-position: center;
}
.summer-text {
  margin: 0px;
  font-weight: 300;
}
.new-collection-text {
  margin: 0px;
  font-size: 24px;
  font-family: "Sofia Sans";
  font-weight: 300;
}

.summer-collection-background-image {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.summer-collection-front-page-text-div {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summer-collection-front-page-title {
  font-family: "Sonsie one";
  font-size: 54px;
}

.explore-now-button {
  font-size: 35px;
  margin-top: 50px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  font-family: "Sonsie one";
  color: white;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.explore-now-button:hover {
  opacity: 0.5;
}

.product-grid-container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 4vw;
  row-gap: 7vh;
  margin-bottom: 60px;
}

.summer-collection-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sc-background-image {
  width: 100%;
}

.gender-container {
  display: flex;
  width: 100%;
  justify-content: start;
}

.gender-text {
  margin-left: 80px;
  font-weight: 400;
  font-family: "Source Serif 4";
}

.summer-collection-bg-image-container {
  position: relative;
  margin-bottom: 100px;
}

.sc-img-background-text-container {
  left: 7%;
  position: absolute;
  color: white;
  top: 80px;
  font-family: "Source Serif 4";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sc-img-background-text-container-bottom {
  left: 7%;
  bottom: 20%;
  position: absolute;
  color: white;
  font-family: "Source Serif 4";
}

@media (min-width: 769px) and (max-width: 1250px) {
  .gender-text {
    margin-left: 40px;
    font-weight: 400;
    font-size: 30px;
  }

  .summer-collection-front-page-title {
    font-family: "Sonsie one";
    font-size: 44px;
  }
  .explore-now-button {
    font-size: 25px;
    margin-top: 50px;
  }
  .available-text {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .gender-text {
    margin-left: 40px;
    font-weight: 400;
    font-size: 25px;
    font-family: "Source Serif 4";
  }

  .summer-collection-front-page-title {
    font-family: "Sonsie one";
    font-size: 24px;
  }

  .explore-now-button {
    font-size: 20px;
    margin-top: 50px;
  }

  .summer-collection-front-page-content {
    align-items: start;
  }
  .summer-collection-front-page-text-div {
    margin-top: 100px;
  }
  .available-text {
    font-size: 20px;
  }
  .summer-collection-title {
    font-size: 20px;
  }
  .new-collection-text {
    font-size: 20px;
  }
  .available-now-text {
    font-size: 15px;
  }
  .new-collection-text {
    font-size: 14px;
  }
  .summer-text {
    font-size: 18px;
  }
  .summer-collection-bg-image-container {
    margin-bottom: 50px;
  }
  .product-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
